body {
  background-color:#00d1c6;
  margin:0;
}
.element {
  border-radius:50%;
  width:60px;
  height:60px;
  background-color:brown;
  margin:10px;
  position:absolute;
}
.random {
  background-color:#000;
}